.App {
 background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url('./Helpers/intback.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 height: auto;
}

